.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    overflow: hidden;
    padding-top: 30px;
    margin-left: 2100px;
  }
  
  .running-text {
    font-style: oblique;
    font-size: 30px;
    color: #0B7077;
    white-space: nowrap;
    position: absolute;
    animation: moveText 15s linear infinite;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  .border-gradient-hover {
    border-image: linear-gradient(135deg, #48c6ef, #6f86d6);
    border-image-slice: 1;
  }
  